

html {
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    /* font-family: Roboto, sans-serif; */
    font-size: 16px;
    box-sizing: border-box;
    min-height: 100%;
    height: 100%;
    min-width: 100%;
    width: 100%;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    /* border: 1px solid green; */
}

body > .container-fluid {
    height: 100%;
    width: 100%;
}

.error {
    color: white;
    background-color: orangered;
    font-weight: bold;
}

table {
    border-collapse: collapse;
}

td, th {
    border: 1px solid #999;
    padding: 0.5rem;
    text-align: left;
}

